version: 2.1
jobs:
  save_hello_world_output:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      - run:
          name: "Save hello"
#          command: echo "Hello dan!" > output.txt
          command: |
            mkdir backend
            cd backend
            pwd
            echo "The migration has been executed successfully. End of file." > migrationresults.txt
            ls
            echo "== cat of file to console =="
            cat migrationresults.txt
            ls -d $(pwd -P)/migrationresults.txt
#      - persist_to_workspace:
#          root: .
#          paths:
#            - output.txt
      - persist_to_workspace:
          root: ~/
          paths:
            - project/backend/migrationresults.txt

#  print_output_file:
#    docker:
#      - image: cimg/base:stable
#    steps:
#      - checkout
#      - attach_workspace:
#          at: ./
#      - run:
#          name: "Cat hello"
#          command: cat output.txt
  
  dan-testing:
    docker:
      - image: circleci/node:13.8.0
    steps:
      - checkout
      - attach_workspace:
          at: ~/
      - run:
          name: "Testing installs"
          command: |
            echo "== cat the file =="
            cat ~/project/backend/migrationresults.txt
            echo "== check file contents =="
            if grep -q "successfully" ~/project/backend/migrationresults.txt
            then
              curl -k https://kvdb.io/92NGEye9MJm1giTJk2FtfJ/migrationCODETEST_${CIRCLE_WORKFLOW_ID:0:7}  -d 'Hello found'
              echo "Curl command run(?)"
            fi

  run-migrations-test:
    docker:
      - image: circleci/node:13.8.0
      #- image: python:3.11-rc-alpine
      #- image: cimg/node:16.13.1
    steps:
      - checkout
      - attach_workspace:
          at: ~/
      - run:
          name: "Install dependencies"  
          command: |
            echo "== Curl config =="
            echo "insecure" >> ~/.curlrc
            echo "== Check AWS =="
            aws --version
            echo "== Update Curl pkg =="
            apk add --update curl         
            cat ~/.curlrc
workflows:
  say-hello-workflow:
    jobs:
      - save_hello_world_output
#      - print_output_file:
#          requires:
#            - save_hello_world_output
      - dan-testing:
          requires:
            - save_hello_world_output
      - run-migrations-test:
          requires:
            - dan-testing
