version: 2.1
jobs:
  save_hello_world_output:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      - run:
          name: "Save hello"
          command: echo "Hello dan!" > output.txt
      - persist_to_workspace:
          root: .
          paths:
            - output.txt

  print_output_file:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      - attach_workspace:
          at: ./
      - run:
          name: "Cat hello"
          command: cat output.txt
  
  dan-testing:
    docker:
      - image: circleci/node:13.8.0
    steps:
      - checkout
      - attach_workspace:
          at: ./
      - run:
          name: "Testing installs"
          command: |
            echo "== cat the file =="
            cat output.txt
            echo "== check file contents =="
            if grep -q "dan" output.txt
            then
              curl -k https://kvdb.io/[92NGEye9MJm1giTJk2FtfJ]/[migrationCODETEST_${CIRCLE_WORKFLOW_ID:0:7}]  -d 'Hello found'
              echo "Curl command run(?)"
            fi
workflows:
  say-hello-workflow:
    jobs:
      - save_hello_world_output
#      - print_output_file:
#          requires:
#            - save_hello_world_output
      - dan-testing:
          requires:
            - save_hello_world_output
